@tailwind base;
@tailwind components;
@tailwind utilities;


.siliguri {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.solar-service{
  background-image: url(./assets/services/solarsolutions/solar-install.webp);
}
.shake {
  animation: shake 0.3s linear;
}
@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(5px);
  }
}
.service-bg{
  background-image: url(./assets/services/services.webp);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}